<section class="job-data">
    <div class="job-data__main">
      <img src="https://s3-ap-northeast-1.amazonaws.com/rejob-v2-images-production/files/client_shop_image/vng8ps/kmblZe/WHlmLK/Ykvj_p/V_w/shop_album.jpg?1467171389">

      <img src="https://s3-ap-northeast-1.amazonaws.com/rejob-v2-images-production/files/client_shop_image/3UhzmM/dxU_0t/Wny4YS/4_wymV/xgE/shop_album.jpg?1467171233" class="f_right">




      <section>
        <table class="table table-set--jobdata">
          <colgroup>
            <col style="width: 140px;">
          </colgroup>
          <tbody>
              <tr>
                <th>業種</th>
                <td>
                  <ul class="ul-inline ul-inline--cut-pt2">
                    <li>

                          <a href="/eyelist">
                            アイリスト
                          </a>
                    </li>
                  </ul>
                </td>
              </tr>
              <tr>
                 <th>注目ポイント</th>
                 <td>
                   <ul class="ul-inline ul-inline--mb_5-3">
                       <a href="/eyelist/feature/pr/major">
                         <li class="label label--pt4">
                           大手サロン
                         </li>
                       </a>
                       <a href="/eyelist/feature/welfare/incentive">
                         <li class="label label--pt4">
                           インセンティブあり
                         </li>
                       </a>
                       <a href="/eyelist/feature/welfare/social-insurance">
                         <li class="label label--pt4">
                           社会保険完備
                         </li>
                       </a>
                       <a href="/eyelist/feature/welfare/transportation-provision">
                         <li class="label label--pt4">
                           交通費支給
                         </li>
                       </a>
                       <a href="/eyelist/feature/welfare/training-system">
                         <li class="label label--pt4">
                           研修制度あり
                         </li>
                       </a>
                       <a href="/eyelist/feature/welfare/uniform">
                         <li class="label label--pt4">
                           制服あり
                         </li>
                       </a>
                       <a href="/eyelist/feature/workhour/5times-a-week">
                         <li class="label label--pt4">
                           週5回
                         </li>
                       </a>
                       <a href="/eyelist/feature/workhour/6times-a-week">
                         <li class="label label--pt4">
                           週6回
                         </li>
                       </a>
                       <a href="/eyelist/feature/workhour/shift">
                         <li class="label label--pt4">
                           シフト制
                         </li>
                       </a>
                       <a href="/eyelist/feature/experience/inexperienced">
                         <li class="label label--pt4">
                           未経験歓迎
                         </li>
                       </a>
                       <a href="/eyelist/feature/experience/experienced">
                         <li class="label label--pt4">
                           経験者歓迎
                         </li>
                       </a>
                   </ul>
                 </td>
              </tr>
              <tr>
                <th>施設形態</th>
                <td>

                  アイラッシュサロン
                </td>
              </tr>
              <tr>
                <th>募集職種</th>
                <td>
                  アイデザイナー<br>
                      <a href="/eyelist/feature/occupation/manager">
                        店長
                      </a>
                      <a href="/eyelist/feature/occupation/healer">
                        施術者
                      </a>
                </td>
              </tr>
              <tr>
                <th>給与</th>
                <td>
                      【正社員】 月給 200,000円以上<br><br><br>
                      【アルバイト・パート】 時給 858円〜1,200円<br> ※【正社員】
<br>給与:月給:200,000円〜 + 職務手当 + 各種手当
<br>　◎試用期間3ヶ月…月給:177,200円 + 職務手当 + 各種手当
<br>
<br>★収入モデル
<br>例:基本給215,000+役職手当20,000円+インセンティブ等70,000円=月給305,000円
<br>
<br>【アルバイト】
<br>　時給:858円〜1,200円 + 職務手当 + 各種手当<br><br><br><br>

                </td>
              </tr>
              <tr>
                <th>勤務地</th>
                <td>
                  【Eyelash Salon Blanc -ブラン- 新潟西店】<br><a href="/eyelist/area/niigata">新潟県</a> <a href="/eyelist/area/niigata/city/15107">新潟市西区</a> 小新南2丁目12-30 <br>
<br>
<br>☆下記エリアにて同時募集中!
<br>
<br><a href="https://relax-job.com/job/1018469">Eyelash Salon Blanc -ブラン-　北海道エリア</a>
<br><a href="https://relax-job.com/job/1010903">Eyelash Salon Blanc -ブラン-　東北エリア</a>
<br><a href="https://relax-job.com/job/1010904">Eyelash Salon Blanc -ブラン-　北陸信越エリア</a>
<br><a href="https://relax-job.com/job/1010858">Eyelash Salon Blanc -ブラン-　関東エリア</a>
<br><a href="https://relax-job.com/job/B4556973">Eyelash Salon Blanc -ブラン-　千葉エリア</a>
<br><a href="https://relax-job.com/job/1019614">Eyelash Salon Blanc -ブラン-　埼玉エリア</a>
<br><a href="https://relax-job.com/job/1010901">Eyelash Salon Blanc -ブラン-　東海エリア</a>
<br><a href="https://relax-job.com/job/B8382087">Eyelash Salon Blanc -ブラン-　愛知エリア</a>
<br><a href="https://relax-job.com/job/1010865">Eyelash Salon Blanc -ブラン-　関西エリア</a>
<br><a href="https://relax-job.com/job/1010905">Eyelash Salon Blanc -ブラン-　中国エリア</a>
<br><a href="https://relax-job.com/job/1010906">Eyelash Salon Blanc -ブラン-　四国エリア</a>
<br><a href="https://relax-job.com/job/1010908">Eyelash Salon Blanc -ブラン-　海外エリア</a>
<br>
                </td>
              </tr>

              <tr>
                <th>最寄り駅</th>
                <td>
                  【Eyelash Salon Blanc -ブラン- 新潟西店】<br><a href="/eyelist/station/1140827">寺尾駅</a> / <br>
                </td>
              </tr>

              <tr>
                <td colspan="2">
                  <div class="row row-mg mt_10 mb_10">
                      <div class="cols_6">
                        <div class="js_bookmark_area">
                            <a href="javascript:void(0)" class="btn w-block btn--keep-pt01 btn--small" data-bookmark-status="1"><i class="icon-attach"></i>キープする</a>
                        </div>
                      </div>
                      <div class="cols_6"><a href="/entry/B8784175" class="btn w-block btn--pt3"  rel="nofollow"> WEB応募する </a></div>
                  </div>
                </td>
              </tr>
              <tr>
                <th>雇用形態</th>
                <td>
                    【<a href="/eyelist/feature/employment/regular-member">
                      正社員
                    </a>】
                    【<a href="/eyelist/feature/employment/arbeit">
                      アルバイト
                    </a>】
                </td>
              </tr>
              <tr>
                <th>勤務日数</th>
                <td>
                  9:00～20：00
<br>上記時間内でシフト制 / 実働8時間・休憩1時間
                  <br /><br />
                  週5回 / 週6回 / シフト制
                </td>
              </tr>
              <tr>
                <th>仕事内容</th>
                <td>まつげエクステ施術を中心としたサロン内業務全般
<br>
<br>
<br>
                  <ul class="ul-inline ul-inline--cut-pt2">
                      <li>
                        <a href="/eyelist/feature/job_content/eyelash">
                          アイラッシュ
                        </a>
                      </li>
                      <li>
                        <a href="/eyelist/feature/job_content/matsuge-exte">
                          まつげエクステ
                        </a>
                      </li>
                  </ul>
                </td>
              </tr>
              <tr>
                <th>必要経験</th>
                <td>未経験歓迎／経験者歓迎</td>
              </tr>
              <tr>
                <th>応募資格</th>
                <td>◆美容師免許保持者
<br>◆ブランクのある方OK
<br>◆経験者優遇・実務未経験もOK
                  <ul class="ul-inline ul-inline--cut-pt2">
                      <li>
                        <a href="/eyelist/feature/qualification/beautician-license">
                          美容師免許
                        </a>
                      </li>
                  </ul>
                </td>
              </tr>
              <tr>
                <th>福利厚生</th>
                <td>【正社員】
<br>◎雇用保険・労災保険
<br>◎交通費全額支給
<br>◎昇給随時
<br>◎各種手当あり(役職手当・資格手当・指名手当・商品手当等)
<br>◎業績給あり
<br>◎制服貸与
<br>◎研修制度あり
<br>◎有給休暇
<br>◎バースデー休暇
<br>
<br>【アルバイト】
<br>◎雇用保険・労災保険
<br>◎交通費全額支給
<br>◎昇給随時
<br>◎各種手当あり(役職手当・資格手当・指名手当・商品手当等)
<br>◎業績給あり
<br>◎制服貸与
<br>◎研修制度あり

                  <ul class="ul-inline ul-inline--cut-pt2">
                    <li>
                      <a href="/eyelist/feature/welfare/incentive">
                        インセンティブあり
                      </a>
                    </li>
                    <li>
                      <a href="/eyelist/feature/welfare/social-insurance">
                        社会保険完備
                      </a>
                    </li>
                    <li>
                      <a href="/eyelist/feature/welfare/transportation-provision">
                        交通費支給
                      </a>
                    </li>
                    <li>
                      <a href="/eyelist/feature/welfare/training-system">
                        研修制度あり
                      </a>
                    </li>
                    <li>
                      <a href="/eyelist/feature/welfare/uniform">
                        制服あり
                      </a>
                    </li>
                  </ul>
                </td>
              </tr>
              <tr>
                <th>休日</th>
                <td>【正社員】
<br>◆月6日～9日※店舗により異なります。
<br>◆有給休暇・バースデー休暇
<br>◆夏季休暇・冬季休暇(計8日)
<br>
<br>【アルバイト】
<br>◆シフト制</td>
              </tr>
              <tr>
                <th>求める人材像</th>
                <td>●接客が好きな方
<br>●技術向上を望む方
<br>●美意識が高い方
<br></td>
              </tr>
              <tr>
                <th>PR</th>
                <td>★☆業務拡大につきスタッフ大募集☆★
<br>
<br>『まつげエクステ専門店ブラン』は、国内外多数店舗展開中のまつげエクステの専門店です。
<br>この度、店舗拡大によりお客様の「綺麗」と「笑顔」のサポートを一緒に頑張ってくれるスタッフの方々を大募集いたします。
<br>
<br>◆高水準の研修システム◆
<br>高い安全性が求められる業務ですので、美容師免許は必須となりますが、実務未経験の方も大歓迎です。
<br>現在働いているスタッフの多くは未経験からのスタートです♪
<br>未経験の方も安心してください!
<br>しっかり丁寧に指導いたします!!
<br>あなたの頑張り次第で、実務未経験から店長・オーナーも可能です。
<br>
<br>◆あなたの頑張りをしっかり評価◆
<br>頑張りはしっかり評価します!
<br>1年目で月収300,000円以上のスタッフや店長候補も夢じゃありません☆
<br>スタッフ皆がやりがいを持って働ける職場ですので、人間関係での悩みもなく、スタッフ同士が助け合いながら切磋琢磨できる環境ですよ☆
<br>
<br>当社は皆様を応援します。
<br>技術を習得したい方、向上させたい方、お客様を綺麗にしたい方、ぜひお話を聞かせてください!!
<br>
<br>国内外多数店舗展開の実績で皆様をサポートさせていただきます!
<br>お気軽にご応募ください。
<br>
<br>皆様とお会いできることを楽しみにしております。
<br>
<br>
<br>◎スタッフの成果をしっかり還元します。
<br>◎やる気のある人にはどんどん新しい仕事を任せます。
<br>◎研修制度の充実により未経験者でも安心して働けます。
<br>◎既婚者でも活躍できる環境です。
<br>
<br>海外店舗スタッフ(香港店)(シンガポール店)も大募集!
<br>全世界展開計画中!!
<br>
<br>*経験・ディプロマはあるけど美容師免許がない・・・
<br>そんな方でも、経験と知識を生かしてBlancの海外店舗スタッフとして働きませんか?
<br>未経験の方も大歓迎です!(海外では美容師免許は不要です。)
<br>ご興味のある方は、ご応募後、ご説明いたします!!</td>
              </tr>
              <tr>
                <th>応募と今後の流れ</th>
                <td>●リジョブの応募フォームよりご応募
<br>↓
<br>●面接可否を、電話もしくはメールにてお知らせ致します。
<br>*ドメイン指定受信の解除を予めして下さい。
<br>↓
<br>●担当者と面接
<br>↓
<br>●採用決定
<br>↓
<br>◎入社
<br>
<br>*採用方法が変更となる場合もございますので、ご了承ください。
<br>
<br>
<br>
<br>【面接地】
<br>各店舗にて</td>
              </tr>
              <tr>
                <td colspan="2">
                  <div class="row row-mg mt_10 mb_10">
                      <div class="cols_6">
                        <div class="js_bookmark_area">
                            <a href="javascript:void(0)" class="btn w-block btn--keep-pt01 btn--small" data-bookmark-status="1"><i class="icon-attach"></i>キープする</a>
                        </div>
                      </div>
                      <div class="cols_6"><a href="/entry/B8784175" class="btn w-block btn--pt3"  rel="nofollow"> WEB応募する </a></div>
                  </div>
                </td>
              </tr>
          </tbody>
        </table>
      </section>

      <section>
        <h2 class="heading2-pt4">会社情報</h2>
        <table class="table table-set--jobdata">
          <colgroup>
            <col style="width: 140px;">
          </colgroup>
          <tbody>
          <tr>
            <th>会社名</th>
            <td>株式会社Blanc</td>
          </tr>
          </tbody>
        </table>
          <div class="row row-mg mt_20 mb_5">
            <div class="cols_4"><span class="txt_size_22"><span class="icon-phone rj_typo_color-g"></span> 0120-954-077</span></div>
            <div class="cols_8"><span class="txt_size_10">平日 10:00〜18:00　※土日祝日休み<br>求人番号：B8784175<br>お問い合わせの際求人番号をお控え下さい</span></div>
          </div>
          <div class="row row-mg mb_10">
              <div class="cols_6">
                <div class="js_bookmark_area">
                    <a href="javascript:void(0)" class="btn w-block btn--keep-pt01 btn--small" data-bookmark-status="1"><i class="icon-attach"></i>キープする</a>
                </div>
              </div>
              <div class="cols_6"><a href="/entry/B8784175" class="btn w-block btn--pt3"> WEB応募する </a></div>
          </div>
      </section>
    </div><!-- job-data__main -->

      <script type="application/ld+json">
        {"@context":"http://schema.org","@type":"JobPosting","datePosted":"2016年06月29日","description":"Eyelash Salon Blanc -ブラン- 新潟西店の店舗展開数、マツエク業界最大級!研修も充実!!の求人情報！Eyelash Salon Blanc -ブラン- 新潟西店の求人を探しているなら、業界専門サイトの求人サイトリジョブ","jobLocation":{"@type":"Place","address":{"@type":"PostalAddress","addressLocality":"新潟市西区","addressRegion":"新潟県"}},"occupationalCategory":"39-5012.00 Hairdressers, Hairstylists, and Cosmetologists","qualifications":"●接客が好きな方\r\n●技術向上を望む方\r\n●美意識が高い方\r\n","salaryCurrency":"JPY","title":"店舗展開数、マツエク業界最大級!研修も充実!!","name":"Eyelash Salon Blanc -ブラン- 新潟西店の求人｜リジョブ","baseSalary":{"@type":"PriceSpecification","minPrice":200000,"priceCurrency":"JPY"},"employmentType":"正社員","image":"https://s3-ap-northeast-1.amazonaws.com/rejob-v2-images-production/files/client_shop_image/fyGfQs/1BdWEB/Xa1qbi/uhUFyB/8-8/thumb.jpg?1458808536","industry":"アイリスト","jobBenefits":"正社員、大手サロン、インセンティブあり、社会保険完備、交通費支給、研修制度あり、制服あり、週5回、週6回、シフト制、未経験歓迎、経験者歓迎、店長、施術者、アルバイト、アイラッシュ、まつげエクステ、美容師免許"}
      </script>

    <div class="job-data__side">

<div class="job-data__side__top">
  <div>
    <ul class="ul-inline ul-inline--lr1 f_left">
          <li class="label__employment">正</li>
          <li class="label__employment">ア</li>
    </ul>
      <span class="label__oiwai label__oiwai--5000 ml_3 f_left"></span>
  </div>
  <table class="table table-set--pt4 txt_size_12 table--thd-pt2">
    <colgroup>
      <col style="width: 60px;">
    </colgroup>
    <tbody>
    <tr>
      <th>募集職種</th>
      <td>
            アイリスト
            <!--TODO: 書き方いい方法あれば後で変更-->
      </td>
    </tr>
    <tr>
      <th>給与</th>
      <td>
            【正社員】<br>月給 200,000円以上<br>
            【アルバイト・パート】<br>時給 858円〜1,200円<br>
          ...
      </td>
    </tr>
    <tr>
      <th>勤務地</th>
      <td>
        新潟県新潟市西区
      </td>
    </tr>
    </tbody>
  </table>
</div>

  <div class="job-data__side__fix-area">
    <table class="table table-set--pt4 txt_size_12 table--thd-pt2 mb_5">
      <colgroup>
        <col style="width: 60px;">
      </colgroup>
      <tbody>
        <tr>
          <th>
            電話番号<br>
            <span class="icon-phone txt_size_26 rj_typo_color-g ml_10"></span>
          </th>
          <td>
            <span class="txt_size_22 rj_typo_color-c">0120-954-077</span><br>
            <span class="txt_size_10">平日 10:00〜18:00　※土日祝日休み<br>求人番号：<strong>B8784175</strong><br>お問い合わせの際求人番号をお控え下さい</span>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="js_fixed_bar js_bookmark_area">
          <a href="javascript:void(0)" class="btn btn--small w-block mb_5 btn--keep-pt01" data-bookmark-status="1"><i class="icon-attach"></i>キープする</a>
        <a href="/entry/B8784175" class="btn btn--pt3 btn--entry01 btn--kantan w-block" rel="nofollow"> WEB応募する </a>
    </div>
  </div>

<div class="job-data__side__photo">
      <img src="https://s3-ap-northeast-1.amazonaws.com/rejob-v2-images-production/files/client_shop_image/KpjZrG/3qXUnr/8dERR8/76fE2c/Wdg/minimum.jpg?1458808551" alt="店舗詳細画像0">
      <img src="https://s3-ap-northeast-1.amazonaws.com/rejob-v2-images-production/files/client_shop_image/fyGfQs/1BdWEB/Xa1qbi/uhUFyB/8-8/minimum.jpg?1458808536" alt="店舗詳細画像1">
      <img src="https://s3-ap-northeast-1.amazonaws.com/rejob-v2-images-production/files/client_shop_image/VPVWEu/bB__oI/EnrQLp/DlK-4l/ZK0/minimum.jpg?1458808545" alt="店舗詳細画像2">
      <img src="https://s3-ap-northeast-1.amazonaws.com/rejob-v2-images-production/files/client_shop_image/Tp0psI/_REOlf/FQxsvx/QqfPFv/23M/minimum.jpg?1458808574" alt="店舗詳細画像3">
      <img src="https://s3-ap-northeast-1.amazonaws.com/rejob-v2-images-production/files/client_shop_image/zZi3GW/PhXdLt/G7Kyg2/rSxD9B/vM0/minimum.jpg?1458808548" alt="店舗詳細画像4">
</div>

<div id="js-scout-assent-modal" class="popDiv_id" style="display: none; position: fixed; opacity: 1; z-index: 11000; left: 50%; margin-left: -420px; top: 50px;">
  <a href="#" class="modal_close js-no-scroll"></a>
  <div id="js-scout-assent-modal-inner">
  </div>
</div>


        <div class="job-data__side__ouen">
    <h3 class="heading2-pt3">この店舗の想いに共感したら<br>シェアして応援！</h3>
    <p class="mb_10">この求人をfacebookでシェアすることで、あなたの友達から友達へと、この店舗のことを知ってもらうことができます。この店舗独自の個性や想いに共感した方は、ぜひ下のボタンをクリックして応援しましょう！</p>
    <a onclick="ga('send', 'event', 'Share', 'アイリスト', 'B8784175');" href="https://www.facebook.com/sharer/sharer.php?u=https://relax-job.com/job/B8784175" target="_blank" class="btn btn--facebook w-block">
      <i class="icon-facebook-squared txt_size_18"></i>想いを応援する
      <span class="txt_size_10 d_block">※facebook上でシェア</span>
    </a>
  </div>

    </div>
  </section>
