<h1> <%= @user.name %>さんのマイページ </h1>
<p>Find me in app/views/users/show.html.erb</p>

<p>あなたの現在の応募数は<%= @entry.count %>です！！</p>

<%= link_to "TOPに戻る",grandtops_path%>
<%= link_to "求人一覧", joboffers_index_path %>
