<head>
  <%= link_to '管理画面',v2s_index_path %>
  <%= link_to 'ログイン',login_path %>
  <%= link_to '企業管理画面',client_managements_index_path %>
</head>



<h1>リジョブ</h1>


<ul>

<%= link_to '求人一覧', joboffers_index_path %>

</ul>
