<!DOCTYPE html>
<html>
<head>
  <title>sinrejob</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>
<a class="header-middle__logo" href="/grandtops"></a>

</span>



<%= yield %>

</body>
